@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face{
    font-family:"Worstveld Sling W05 Regular";
    src:url("../Fonts/5111847/78668ee0-b774-4508-85de-f45a8ad0f43a.woff2") format("woff2"),url("../Fonts/5111847/1c01f33d-6612-46fe-b61b-4b88340eb3c2.woff") format("woff");
}
header{
	height: 0px;
}
a{
        overflow-wrap: break-word;
	
}
.front-image{
	z-index: -5000;
	position: relative;
	height: 40vh;
	width: 100vw;
}
.front-image h1{
	z-index: 1;
	width: 100vw;
	position: absolute;
	font-family: 'Comic Neue', cursive;
	text-align:  center;
	line-height: 40vh;
	color: #ffffff;
	font-size: 5vw;
	background-color: rgba(0, 0, 1, 0.76);
}
#slide-show{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 25vw;
	position: sticky;
	height: 35vh;
	overflow-y: scroll;
	left: 0px;
	top: 75vh;
	float: right;
	clear: both;
	background-color: #ffffff;
	margin:  10px;
	text-align: center;
}
.rightSide{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 25vw;
	position: sticky;
	height: 50vh;
	overflow-y: scroll;
	left: 0px;
	top: 60px;
	float: right;
	background-color:#00000029;
	margin:  10px;
	text-align: center;
}
.rightSide h2 a{
	color: #00000088;
	position: sticky;
	background: #fff;
	
}
.rightSide h2{
	margin: 15px;
}
.rightSide a{
	width: 90%;
	background: linear-gradient(#640BA2AB,#640BA2AB,#fff);
	height: 40px;
	display: inline-block;
	color: #fff;
	font-weight: bold;
	transition-property: all;
	transition-duration: .25s;
}
.rightSide a:hover{
	font-variant: small-caps;
	background: #000000ee;
	color: #fff;
}
.vertical-line{
	position: absolute;
	left: 0px;
	height: 80%;
	width: 3px;
	background: linear-gradient(#ffffff,#000000,#ffffff);
	margin: 10% 0px;
}
body{
	background-color: #0000002e;
	width: 100vw;
}
footer{
	position: relative;
	z-index: 1;
}
main{
	width: 50vw;
	padding: 5vw;
	margin: 10px 10vw;
	background-color: #ffffff;
	font-family: serif;
	font-size: 1.2rem;
	background-size: 100% 100%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main h1{
	text-shadow: 1px 1px 2px #000000;
	text-transform: capitalize;
	font-size: 3rem;
	font-family: Arial;
}
main .hr {
    width: 70%;
    height: 3px;
    background: linear-gradient(90deg,#ee1768,#fff);
}
code{
	background-color: rgb(178, 185, 183);
	color: #000000;
	font-size: .9rem;
}
.code-snip{
	background-color: rgb(178, 185, 183);
	display: block;
	width: 98%;
	overflow-y: scroll;
	padding: 1%;
}
.terminal-snip{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: block;
	width: 98%;
	padding: 1%;
	background-color: rgba(0,0,0,.9);
	color: #ffffff;
	overflow-y: scroll;
}
main li img{
	width: 100%;
	display: block;
}
.blink{
	animation-name: blink;
	animation-duration: .7s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
}
@keyframes blink{
	from {opacity: 0;}
	to{opacity: 1;}
}
summary{
	font-size: 3rem;
	font-family:"Worstveld Sling W05 Regular";
	font-weight: 1000;
	transition-duration: 1s;
	color: #0e0a97;
}
summary:hover{
	color: #ee1770;
}
details{
	color: #4a4a4a;
}
h2{
	font-size: 2.4rem;
	font-family:"Worstveld Sling W05 Regular";
	font-weight: 1000;
	color: #000;
}
@media all and (max-width: 1280px){
	main{
		width: 90vw;
		margin: 4vw;
		padding: 1vw;
	}
	.rightSide{
		display: none;
	}
}
@media all and (max-width: 768px){
	main{
		width: 90vw;
		padding: 5vw;
		margin: 0px;
	}
	#vanish{
		display: none;
	}
	#slide-show{
	display: none;
}
}
.writer{
	font-size: .9rem;
	font-family: Arial;
	color: #ee1768;
}
.button-container{
			display: flex;
			justify-content: center;
		}
		.filters {
	    	margin: 10px 20px;
	    	width: 100px;
	    	height: 50px;
	    	flex-wrap: nowrap;
	    	background: #0d2866b5;
	    	color: #FFF;
	    	border-radius: 25px;
    		border: 0px;
    		box-shadow: -10px 11px 15px #000;
		}
		.filters:hover{
			box-shadow: 0px 0px 0px;
			background: #021540eb;
			font-variant: small-caps;
		}
		.filters:focus{
			box-shadow: 0px 0px 0px;
			background: #021540eb;
			font-variant: small-caps;
		}
		.filters:active{
			box-shadow: 0px 0px 0px;
			background: #021540eb;
			font-variant: small-caps;
		}
button a{
	color: inherit;
}